.online {
    width: 5px;     
    height: 5px;
    background-color: green;   
    border-radius: 50%;
}

.offline {
    width: 5px;     
    height: 5px;
    background-color: red;   
    border-radius: 50%;
}
